[Unit]
Description=GTNH server backup (4hrs) 

[Timer]
OnCalendar=*-*-* 04/4:00:00
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
