# Base user
vault_admin_password_hash: mkpasswd -m sha-512 -s "your_password_here"
vault_admin_username: admin

# Caddy
vault_base_domain: domain.com
vault_porkbun_api_key: porkbun_api_key
vault_porkbun_secret_api_key: porkbun_secret_api_key

# Immich
vault_immich_db_password: "your_secure_db_password"