[Unit]
Description=Immich Machine Learning

[Container]
Pod=immich.pod
Image=ghcr.io/immich-app/immich-machine-learning:{{ immich_version }}
Volume=immich-model-cache:/cache

[Service]
TimeoutStartSec=900
