BACKUP_MOUNT={{ global_backup_dir }}
WORLD={{ gtnh_world }}
STAGING={{ gtnh_staging_dir }}

RESTIC_REPOSITORY={{ gtnh_repository }}
RESTIC_PASSWORD={{ vault_restic_password }}

MCRCON_HOST={{ vault_gtnh_rcon_host }}
MCRCON_PORT={{ vault_gtnh_rcon_port }}
MCRCON_PASS={{ vault_gtnh_rcon_password }}

RCLONE_EXCLUDE_FROM={{ gtnh_config_dir }}/exclude.txt
RCLONE_CONFIG_GTNH_TYPE=sftp
RCLONE_CONFIG_GTNH_HOST={{ vault_gtnh_sftp_host }}
RCLONE_CONFIG_GTNH_PORT=2222
RCLONE_CONFIG_GTNH_USER={{ vault_gtnh_sftp_user }}
RCLONE_CONFIG_GTNH_PASS={{ vault_gtnh_sftp_pass }}
RCLONE_CONFIG_GTNH_SHELL_TYPE=none
RCLONE_CONFIG_GTNH_MD5SUM_COMMAND=none
RCLONE_CONFIG_GTNH_SHA1SUM_COMMAND=none
