[Unit]
Description=Immich Redis

[Container]
ContainerName=immich-redis
#AutoUpdate=registry
Pod=immich.pod
Image=docker.io/valkey/valkey:9
HealthCmd=redis-cli ping || exit 1

[Service]
TimeoutStartSec=900
