[Unit]
Description=IT Tools Container
After=network-online.target

[Container]
ContainerName=it-tools
Image=docker.io/corentinth/it-tools:latest

AutoUpdate=registry

PublishPort=8081:80

[Service]
Restart=always

[Install]
WantedBy=default.target

