[Unit]
Description=IT Tools Container
After=network-online.target

[Container]
ContainerName=it-tools
Image=docker.io/sharevb/it-tools:2026.9.27
PublishPort=127.0.0.1:8085:8080

[Service]
Restart=always

[Install]
WantedBy=default.target
