[Unit]
Description=Uptime Kuma Monitoring
After=network-online.target

[Container]
ContainerName=uptime-kuma
Image=docker.io/louislam/uptime-kuma:2

AutoUpdate=registry

PublishPort=3001:3001

Volume=/srv/appdata/uptime-kuma:/app/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target

