[Unit]
Description=Nextcloud Valkey container

[Container]
ContainerName=nextcloud-valkey
Image=docker.io/valkey/valkey:9.1.2
Pod=nextcloud.pod

[Service]
Restart=always
