[Unit]
Description=dozzle
After=network-online.target

[Container]
ContainerName=dozzle
Image=ghcr.io/amir20/dozzle:latest
PublishPort=8090:8080
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true

[Service]
Restart=always

[Install]
WantedBy=default.target

