# mute warnings about deprecations caused by vagrant
[defaults]
deprecation_warnings = False
interpreter_python = auto_silent
inventory = inventories/prod.yml
vault_password_file = .vault-pass

[privilege_escalation]
become_allow_same_user = True
