[Unit]
Description=caddy
After=network-online.target

[Container]
ContainerName=caddy
Image=localhost/caddy-custom:latest
EnvironmentFile=/srv/appdata/caddy/.env

AutoUpdate=registry
Network=host

Volume=/srv/appdata/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=/srv/appdata/caddy/data:/data:Z
Volume=/srv/appdata/caddy/config:/config:Z

[Service]
Restart=always

[Install]
WantedBy=default.target

