[Unit]
Description=Authelia SSO
After=network-online.target

[Container]
ContainerName=authelia
Image=docker.io/authelia/authelia:{{ authelia_version }}
PublishPort={{ authelia_port }}:{{ authelia_port }}
Volume={{ authelia_base_dir }}/config:/config:Z
Volume=/etc/localtime:/etc/localtime:ro

Environment=TZ={{ immich_timezone | default('Europe/Berlin') }}

[Service]
Restart=always

[Install]
WantedBy=default.target

