---
theme: 'light'

server:
  address: 'tcp://0.0.0.0:{{ authelia_port }}'

log:
  level: 'info'
  format: 'text'

totp:
  issuer: '{{ authelia_cookie_domain }}'

identity_validation:
  reset_password:
    jwt_secret: '{{ vault_authelia_jwt_secret }}'

authentication_backend:
  password_reset:
    disable: true
  file:
    path: '/config/users_database.yml'
    watch: false
    search:
      email: true
    password:
      algorithm: 'argon2'

access_control:
  default_policy: 'deny'
  rules:
{% for rule in authelia_access_rules %}
    - domain:
{% for d in rule.domains %}
        - '{{ d }}'
{% endfor %}
      policy: '{{ rule.policy }}'
{% endfor %}

session:
  name: 'authelia_session'
  secret: '{{ vault_authelia_session_secret }}'
  expiration: '{{ authelia_session_expiration }}'
  inactivity: '{{ authelia_session_inactivity }}'
  remember_me: '{{ authelia_session_remember_me }}'
  cookies:
    - domain: '{{ authelia_cookie_domain }}'
      authelia_url: '{{ authelia_url_protocol }}://{{ authelia_domain }}'

regulation:
  max_retries: 3
  find_time: '2m'
  ban_time: '5m'

storage:
  encryption_key: '{{ vault_authelia_storage_encryption_key }}'
  local:
    path: '/config/db.sqlite3'

notifier:
  disable_startup_check: false
  filesystem:
    filename: '/config/notification.txt'
