---
users: 
  {{ vault_admin_username }}:
    disabled: false
    displayname: '{{ vault_authelia_admin_displayname }}'
    password: '{{ vault_authelia_admin_password_hash }}'
    email: '{{ vault_authelia_admin_email }}'
    groups:
      - 'admins'
