# Nextcloud
nextcloud.{$BASE_DOMAIN} {
	# DNS Challenge for Let's Encrypt using Porkbun
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}

	# CalDAV/CardDAV well-known redirects
	redir /.well-known/carddav /remote.php/dav/ 301
	redir /.well-known/caldav /remote.php/dav/ 301

	# Recommended Nextcloud headers
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "no-referrer"
		X-Permitted-Cross-Domain-Policies "none"
		X-Robots-Tag "noindex, nofollow"
	}

	reverse_proxy localhost:8080
}

# Immich
immich.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:2283
}

# Jellyfin
jellyfin.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:8096
}

# Paperless-ngx
paperless.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:8010
}

# Mealie
mealie.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:9925
}

# Beszel agent
beszel-agent.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy unix//beszel_socket/beszel.sock
}

# Beszel web interface
beszel.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:8090 
}

# it-tools
it-tools.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:8081
}

# uptime-kuma
uptime-kuma.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:3001
}

# uptime
uptime.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:3001
}

paperless-ai.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:3003
}

paperless-gpt.{$BASE_DOMAIN} {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_SECRET_API_KEY}
		}
	}
	reverse_proxy localhost:3004
}

