# User service for Rclone mounting
#
# Place in ~/.config/systemd/user/
# File must include the '@' (ex rclone@.service)
# As your normal user, run 
#   systemctl --user daemon-reload
# You can now start/enable each remote by using rclone@<remote>
#   systemctl --user enable --now rclone@dropbox

[Unit]
Description=rclone: bisync for folder drive:%i
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=1

[Service]
Type=oneshot

#ExecStartPre=-/usr/bin/mkdir -p %h/%i
#ExecStart= \
#  /usr/bin/rclone mount \
#    --config=%h/.config/rclone/rclone.conf \
#    --vfs-cache-mode writes \
#    --vfs-cache-max-size 100M \
#    --log-level INFO \
#    --log-file /tmp/rclone-%i.log \
#    --umask 022 \
#    --allow-other \
#    %i: %h/%i

ExecStart= \
/usr/bin/rclone bisync drive:%i %h/drive/%i -MvP \
    --create-empty-src-dirs \
    --compare size,modtime,checksum \
    --filters-file %h/.config/systemd/user/rclone.filter.txt \
    --conflict-resolve newer \
    --conflict-loser delete \
    --conflict-suffix sync-conflict-{DateOnly}- \
    --suffix-keep-extension \
    --resilient \
    --recover \
    --no-slow-hash \
    --drive-skip-gdocs \
    --fix-case

#ExecStop=/bin/fusermount -u %h/%i

[Install]
WantedBy=default.target
