[Unit]
Description=Watch directory and trigger rclone.service on changes
After=network.target

[Service]
ExecStart=/usr/bin/watchexec -w %h/drive -- systemctl --user start rclone.service
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
